
<%- include('header') -%>

<h2>About Page</h2>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi cum odio
  suscipit! Minima delectus sed aut omnis, aliquam perferendis veritatis
  distinctio id sapiente a, quod placeat nostrum repellendus vitae. Hic
  accusantium dolorem rerum vero minus, incidunt sequi iste molestiae eius id
  officiis quae fugit! Dicta, consequatur earum sint laudantium quaerat odit
  amet ratione vero, at veritatis ullam incidunt a nesciunt deserunt! Doloribus
  corrupti impedit atque voluptatum blanditiis, dolorum quos libero quis vitae
  sed dolorem, labore, inventore maiores voluptatem tempore harum nulla quae
  commodi. Voluptatum quam, possimus ipsum, molestias commodi aut tenetur alias
  cumque culpa maxime amet nisi officiis pariatur in!
</p>

<%- include('footer') -%>

