<!DOCTYPE html>
<html lang="en">

<head>
  <title>List</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="css/styles.css" />
</head>

<body>



  <div class="box" id="heading">
    <h2>Value is <%= kinOfdDay %>
    </h2>
  </div>


   <!-- Item List  -->

  <div class="box">
    <% for (let i=0;i<newListItems.length;i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %>   </p>
      </div>
      <% } %>


       <!-- Form  -->
      <form action="/" method="post">

        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit">+</button>
      </form>

  </div>





</body>

</html>